<a href="https://colab.research.google.com/github/titiverma/200Excercises_in_python/blob/Force/Calculations_in_python_Exercise_1_to_12_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1

In [1]:
pi = 3.14
r = 5
Area = pi*r*r
print(f"Area: {Area}")

Area: 78.5

Exercise 2

In [2]:
p = 1000
r = 0.03
t = 5
a = p*(1+r)**t
print(f"The future value of the investment: {a:.2f} USD")

The future value of the investment: 1159.27 USD

Exercise 3

In [3]:
b = -4
a = 3
c = 1
d = b**2 - 4*a*c
print(f"Delta: {d}")

Delta: 4

Exercise 4

In [4]:
a1 = 14.0
a10 = 50.0
sum = 5.0*(a1+a10)
print(f"The sum of the first 10 elements in a sequence: {sum}")

The sum of the first 10 elements in a sequence: 320.0

Exercise 5

In [5]:
a = 8.0
r = 2
n = 6
s6 = (a*(r**n -1))/(r-1)
print(f"The sum of the first 6 elements of the sequence is: {s6}")

The sum of the first 6 elements of the sequence is: 504.0

Exercise 6

In [6]:
a = 1
b = 5
c = 4
sum_of_roots = float(-b/a)
product_of_roots = float(c/a)
print(f"x1 + x2 = {sum_of_roots}")
print(f"x1x2 = {product_of_roots}")

x1 + x2 = -5.0
x1x2 = 4.0

Exercise 7

In [7]:
a1 = 2
b1 = 4
a2 = -4
b2 = 6
midpointa = (a1+a2)/2
midpointb = (b1+b2)/2
print(f"The middle point: ({midpointa}, {midpointb})")

The middle point: (-1.0, 5.0)

Exercise 8

In [8]:
a1 = 3
a2 = -1
b1 = 2
b2 = -1
d1 = (a1 - a2)**2
d2 = (b1-b2)**2
d = (d1+d2)**(0.5)
print(f"The distance between points A and B: {d}")

The distance between points A and B: 5.0

Exercise 9

In [9]:
b = 5
a = 1
c = 4
d = b**2 - 4*a*c
r1 = (-b + (d)**0.5)/2
r2 = (-b - (d)**0.5)/2
print(f"x1 = {r2}")
print(f"x2 = {r1}")

x1 = -4.0
x2 = -1.0

Exercise 10

In [10]:
a,b,c,d = 4,3,4.5,5
gm = (a*b*c*d)**(0.25)
print(f"Geometric average of the given numbers: {gm:.2f}")

Geometric average of the given numbers: 4.05

Exercise 11

In [11]:
a1,a2 = 1,0.5
r = a2/a1
s_infinity = a1/(1-r)
print(f"The sum of the sequence: {s_infinity:.1f}")

The sum of the sequence: 2.0

Exercise 12

In [16]:
l = [10,11,9]
lsum = 10+11+9
llength = len(l)
average = lsum/llength
summ= 0
for i in l:
    a = (i - average)**2
    summ = summ+a
sigma = (summ/len(l))**0.5
print(f"The standard deviation: {sigma:.2f}")

The standard deviation: 0.82

I don't know I applied sum() here but it keeps giving error float is not callable.